@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text-color: #262626;
  --primary-bg-color: #fff;

  --head-box-shadow: rgba(38, 38, 38, 0.5);
}

[data-theme="dark"] {
  --primary-text-color: #fff;
  --primary-bg-color: #262626;

  --head-box-shadow: rgba(255, 255, 255, 0.4);
}

.containerWrap {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.headIcon {
  width: 25px;
  height: 25px;
}

.homeIcon {
  width: 20px;
  height: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  width: 25%;
  padding: 0 10px;
}

.col-md-6 {
  width: 50%;
  padding: 0 10px;
}

.flagImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  /* margin: 10px 0; */
  /* object-fit: cover; */
}

/* .flagImgWrap {
  width: 400px;
  height: auto;
} */

.headerWrapper {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  box-shadow: 3px 4px 10px var(--head-box-shadow);
}

.FlagDisplayWrapper {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.flagCardWrap {
  border-radius: 20px;
  border: 2px solid var(--primary-text-color);
  overflow: hidden;
}

.flagImgWrap {
  border-bottom: 2px solid var(--primary-text-color);
}

/* country info */

.countryInfoSection {
  background: var(--primary-bg-color);
  height: 100vh;
}

.countryName {
  color: var(--primary-text-color);
}

.countryInfoFlagContent {
  color: var(--primary-text-color);
}

.backBtn,
.mapbtn {
  color: var(--primary-bg-color);
  background: var(--primary-text-color);
  padding: 7px 15px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .containerWrap {
    padding: 0 15px;
  }
  .col-md-3 {
    width: 100%;
  }

  .col-md-6 {
    width: 100%;
  }

  .countryInfoFlagContent {
    margin: 30px 0;
  }

  .mapbtn {
    width: 195px;
    text-align: center;
  }
}
