.card-img {
  width: 365px;
  height: auto;
}

.boot-card-wrap {
  border: 2px solid #262626;
  padding: 20px 10px;
  height: 375px;
  border-radius: 8px;
}

/* apple basket component */

.arrImg {
  width: 80px;
  height: auto;
}

.linkTag {
  text-decoration: none;
  color: #262626;
  padding: 10px;
}

.activeLink {
  text-decoration: none;
  color: #fff;
  background-color: #545ffc;
  padding: 8px 15px;
  border-radius: 8px;
}
