/* Header Module CSS */

.navText {
  color: #71d3f3 !important;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
}

nav {
  /* background: #f5f5f5; */
}

.activeNavlink {
  color: #000 !important;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  background-color: #71d3f3;
}
