.formWrap {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.todoInput {
  width: 400px;
  font-size: 20px;
  padding: 5px;
}

.centerData {
  display: flex;
  justify-content: center;
}

.submitBtn {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  padding: 5px 15px;
}

.displayTableData {
  margin-top: 15px;
}

table {
  border: 2px;
}

th {
  text-align: left;
}

td {
  width: 120px;
}
